Package: tomcat7-log4j
Version: 0.1
Section: net
Priority: optional
Architecture: all
Depends: tomcat7
Recommends:
Suggests:
Installed-Size: 624223
Maintainer: filmme.tv <info@filmme.tv>
Conflicts:
Replaces:
Description: rotating logs for tomcat7
 Log4j logging service for tomcat7. The logs will rotate into a fixed-size file.
 .

